/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========== My                    =========== */

/* ===========    Code               =========== */

/* ===========           Starts Here =========== */

* {
    text-decoration: none;
    box-sizing: border-box;

}

html{
    scroll-behavior: smooth; 
}

body{
    font-family: 'Catamaran', sans-serif;
    font-family: 'Cormorant Garamond', serif;
    background-color: #212121;
}

/*.offset:before{
    display: block;
    content: "";
    height: 10rem;
    margin-top: -2rem;
}*/


p {
    color: #fff;
}

main{
   
}

/* ======= Header ======== */

header{
    position: fixed; 
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    width: 100%;
    height: auto;
    z-index: 100000;
   
}

header.scrolled{
    background-color: #212121 !important;
    transition: background-color 200ms linear;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1);

}

.texto-2{
   background-image: url(img/bg\ texture.png); 
  /*  background-color: #3e3e3e; */
    padding: 30px 0 ;
}

.texto-1{
    padding: 30px 0 ;

}
       

header .header-brand{
    font-family: Catamaran;
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0px ;
}

header .header-brand:hover{
  
    color: rgb(171, 171, 170)
   
}


header nav ul {
    display: block;
    margin: 0 auto;
    width: fit-content;
}

header nav ul li{
    display: inline-block;
    float: left;
    list-style: none;
    padding: 8px 16px;
}

header nav ul li a{
    font-family: Catamaran;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 20px;
}

header nav ul li a:hover{
    font-family: Catamaran;
    font-size: 16px;
    color: rgb(138, 138, 138);
    text-transform: uppercase;
}


header .header-shop{
    display: none;
}

@media only screen and (max-width: 1000px){
    main{
        padding-top: 100px; 
    }
    header nav ul li a{
      
        padding-bottom: 0px;
    }
    header .header-brand{
        
        padding: 20px 0 0 0;
    }
    
}


/* ======= Index Banner ======== */




.index-banner{
    width: 100%;
    height: calc(70vh - 100px)/* 35vh */;
    background-image: url(img/1\ hero.png);
    
 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
    z-index: -1;
}

.header-brand img{
    width: 55px;
}


.index-about .nuestra-historia  {
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    text-transform: uppercase;
}

.index-banner .overlay{
    background: linear-gradient(0deg, rgba(33,33,33,0) 46%, rgba(33,33,33,1) 99%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.index-banner img{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
   
 
}

.index-banner img.scrolled{
    background-color: #fffde3 !important;
    transition: background-color 200ms linear;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.1);

}

.index-banner h2{
    font-family: Catamaran;
    font-size: 60px;
    font-weight: 900;
    line-height: 70px;
    color: #fff;
    text-align: center;
    padding-top: 20px;
   /* text-shadow: 2px 2px 8px #111;*/

}

.index-banner-2 h1{
    font-family:  Cormorant Garamond;
    font-size: 28px;
    font-weight: 100;
    font-style: italic;
    line-height: 40px;
    color: #fff;
    text-align: center;
    padding: 50px;
    /*text-shadow: 2px 2px 8px #111;*/

}


.index-links div {
    margin: 16px 16px 0;
    width: calc(100% - 32px);
    height: 100px;
   
    background-color: #fff;

}

.index-links div h3 {
    font-family:  Catamaran ;
    font-size: 28px;
    font-weight: 600;
    line-height: 100px;
    color: #111;
    text-align: center;
    text-transform: uppercase;

}


/* ======= Index Historia ======== */


.index-about{
    background-color: #303030;
    height: auto;
   
}

.index-about hr.solid {
 
  border: 0;
  border-top: 1px solid white;
  margin-top: 50px;
  margin-bottom: 50px;
    width: 50%;
  }



.index-about .foto{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 30px;
}


.index-about p{
    font-family:  Catamaran ;
    font-size: 16px;
    font-weight: 600;
    
    
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    /*column-count: 3;*/
    margin: 15px 30px 15px 30px;
    
    column-gap: 30px;
    justify-content: center;
    text-align: left;
}

.index-about a{
    text-decoration: none;
    font-family:  Catamaran ;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #7871A7;
    text-transform: uppercase;
    /*column-count: 3;*/
    margin: 0 4px ; 
    column-gap: 30px;
    justify-content: center;
    text-align: left;

}

.index-about h3{
    font-family:  Catamaran ;
    font-size: 26px;
    font-weight: 700;
    
    
    line-height: 34px;
    color: #fff;
    text-transform: uppercase;
    /*column-count: 3;*/
    margin: 15px 30px 15px 30px;
    
    column-gap: 30px;
    justify-content: center;
    text-align: left;
}

.index-about .index-about{
    
        display: none;
     
   /* margin-top: 90px; */
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #212121 ), url(img/4\ banner\ bruja.png) ;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;    
   /* margin-bottom: 10rem; */
    margin: 90px 20px 90px 20px;
}


.index-about .index-aboutt .booking, .index-about .index-aboutt .contacto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.index-about .index-about .booking .logo-2022, .index-about .index-about .contacto .logo-2022{
    width: 300px;
}



.index-about .videos-galeria .video-container{
    position: relative; 
    overflow: hidden; 
    width: auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 40px 15px 50px 15px;
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .index-about .videos-galeria .video-container .video-youtube {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    height: 100%;
  }


  .index-about .contacto-music{
   
    /* margin-top: 90px; */
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #303030 ), url(img/5\ banner.png) ;
         min-height: 500px;
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;    
    /* margin-bottom: 10rem; */
     margin: 90px 20px 90px 20px;
 }
 
 
 .index-about .contacto-music .booking{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }

 .index-about .contacto-music h3{
    font-size: 34px;
    color: #604B37;
    text-shadow: 0 0 15px #e2deb9;
 }


 .callToAct{
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #303030 ), url(img/5\ banner.png) ;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;    
    margin-bottom: 10rem;
}


.callToAct img{
    width: 50px;
}


.callToAct .booking, .callToAct .contacto{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   

}

.callToAct .booking h3, .callToAct .booking p, .callToAct .contacto h3, .callToAct .contacto p{
    color: #fff;
}

.callToAct .booking p, .callToAct .contacto p{
    font-size: 18px;
    padding: 20px 0;
}

.callToAct .booking .social-media, .callToAct .contacto .social-media{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
}


.callToAct .booking .social-media i, .callToAct .contacto .social-media i{
    color:   #FFFCE2;
    font-size: 60px;
    text-shadow: 0 0 15px #e2deb98a;

}




.videos{
   display: flex;
   justify-content: center;

}


.videos h1{
    font-family:  Catamaran ;
    font-size: 34px;
    font-weight: 700;
    
    
    line-height: 34px;
    color: #7871A7;
    text-transform: uppercase;
    /*column-count: 3;*/
    margin: 15px 30px 15px 30px;
    
    column-gap: 30px;
    justify-content: center;
    text-align: left;
}

.about-2 a:hover{
    
}

@media only screen and (min-width: 762px){

      
main{
    padding-top: 0; 
}
 

    header .header-brand{
        margin: 31px 0 0 0;
        text-align: left;
        line-height: 38px;
        padding: 0px 20px 0px 40px ;
       /* border-right: 3px solid #967852; */
        float: left;
    }

    header nav ul {
        margin: 20px 0px 0px 20px;
        float: left;
    }
    
    
    header nav ul li a{
        line-height: 60px;
    }

    header .header-shop{
        display: block;
        font-family: Catamaran;
        font-size: 16px;
        color: #C069C0;
        text-transform: uppercase;
        line-height: 38px;
        border: 1px solid #7871A7;
        float: right;
        margin-right: 40px;
        margin-top: 30px;
        padding: 0 20px;
    }

    header .header-shop:hover{
        
        color: #7871A7;
        
    }

    .index-banner img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
     
    }
 
    .wrapper{
        /*width: 1000px;*/
        margin: 0 auto;

    }

    .index-banner{
        height: 100vh;
        background-attachment: fixed; 
        
      
    } 

    .index-banner h2{
        padding-top: 70px;
    }
    
    .index-banner-2 h1{
        display: block;
        width: 800px;
       margin: 0 auto;
        
    
    }

    .index-links {
        overflow: hidden;
        
    }
   

    .index-links div{
        margin: 20px 10px 0;
        height: 230px;
        
        background-color: #fff;
        float: left;
    }

    .index-boxlink-square{
        width: calc(25% - 20px) !important;
    }

    .index-boxlink-rectangle{
        width: calc(50% - 20px) !important;
    }

    .index-links div h3 {
        line-height: 230px;
    }

    .index-about{
        padding: 50px;
    }

    .index-about .about, .index-about .about-2, .index-about .about-2 .videos-galeria{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .index-about .about img, .index-about .about-2 img{
        width: 30%;
    }

    .shop-items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }

    .shop-items img{
        width: 45%;
    }
    
    .shop-items p{
        width: 45%;
    }
    
    .shop-items img:hover{
        width: 103%;
        transition: ease .2s;
        
    }

    .index-about p{
        width: 45%;
        margin: 0 auto;
        text-align: left;
        padding: 10px;
       
    }
    .index-about .index-2022 .booking .logo-2022, .index-about .index-2022 .contacto .logo-2022{
        width: 500px;
    }


.index-about .videos-galeria{
    
}

.index-about h3{

    text-align: center;
}

.index-about .videos-galeria p{
    width: 80%;
    text-align: center;
}


.index-about .videos-galeria .video-container{
    position: relative; 
    overflow: hidden; 
    width: auto;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 40px 15px 50px 15px;
  }
  
  /* Then style the iframe to fit in the container div with full height and width */
  .index-about .videos-galeria .video-container .video-youtube {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    width: 100%;
    height: 100%;
  }
  
  .index-about .contacto-music h3{
    font-size: 72px;
    color: #604B37;
    text-shadow: 0 0 15px #e2deb9;
 }

 .index-about .about-mike h3{
    font-size: 40px;
    
 }

 .index-about .about-mike p{
   width: 80%;
   text-align: center;
    
 }
 .index-about .index-about{
    display: flex;
      }
/*
 .callToAct .booking{
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0), #303030 ), url(img/) ;
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;    
    margin-bottom: 5rem;
}

.callToAct .booking .social-media{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    line-height: 20px;
}*/



}


/* Footer */

footer{
    width: 100%;
    padding: 40px 40px;
    margin-top: 20px ;
    background-color: #212121;
    overflow: hidden;
}

footer .social-media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   
}

footer .social-media i{
color:   #fff;
font-size: 60px;
line-height: 90px;
}

@media only screen and (min-width: 1000px){
    footer .social-media{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }
    footer .social-media i{
        color:   #fff;
        font-size: 40px;
        line-height: 50px;
        }
        
}